<div class="row">
  <div class="col-md-3">
    <div class="card">
      <%= image_tag avatar_url(@user), class: "avatar-full card-img-top" %>
      <h5 class="card-header text-center">ユーザー情報</h5>
      <div class="card-body">
        <ul class="sidebar-list">
          <% if @user.confirmation_token %>
            <li>Eメールアドレス <span class="pull-right icon-babu"><i class="fa fa-check-circle-o"></i></span></li>
          <% end %>
          <% if @user.provider %>
            <li>Facebook <span class="pull-right icon-babu"><i class="fa fa-check-circle-o"></i></span></li>
          <% end %>
          <li>電話番号 <span class="pull-right icon-babu"><i class="fa fa-check-circle-o"></i></span></li>
        </ul>
      </div>
    </div>
  </div>  
    
  <div class="col-md-9">
    <h2><%= @user.fullname %></h2>

    <div class="description row-space-3">
      <%= @user.description %>
    </div>

    <h4>Listings (<%= @rooms.length %>)</h4><br>

    <div class="row">
      <%= render partial: "rooms/rooms_list", locals: {rooms: @rooms} %>
    </div>
    <br>
    <br>

    <h4>宿泊者からのレビュー(<%= @guest_reviews.count %>)</h4>
    <div class="row">
      <div class="col-md-12">
        <%= render 'reviews/guest_list' %>
      </div>
    </div>
    <br>

    <h4>ホストからのレビュー(<%= @host_reviews.count %>)</h4>
    <div class="row">
      <div class="col-md-12">
        <%= render 'reviews/host_list' %>
      </div>
    </div>
    <br>

  </div>
</div>
