<nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
  <%= link_to "Airbonb", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
    <%= form_tag search_path, class: "navbar-form navbar-left", method: :get do %>
      <div class="form-group">
        <%= text_field_tag :search, params[:search], placeholder: "Anywhere", class: "form-control" %>
      </div>
    <% end %>

    <ul class="navbar-nav">
    <li>
      <button class="btn btn-form btn-small nav-link">
        <%= link_to "ホストになる", new_room_path, style: "color: white; text-decoration: none;" %>
      </button>
    </li>
      <% if (!user_signed_in?) %>
        <li class="nav-link">
          <%= link_to 'ログイン', new_user_session_path %>
        </li>
        <li class="nav-link">
          <%= link_to '新規登録', new_user_registration_path %>
        </li>
      <% else %>
        <li class="nav-link dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%=image_tag avatar_url(current_user), class: "rounded-circle avatar-small" %>&nbsp;
              <%=current_user.fullname %>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <%= link_to "Manage Listing", rooms_path, class: "dropdown-item" %>
              <%= link_to "List your space", new_room_path, class: "dropdown-item" %>
              <%= link_to "Your Reservations", your_reservations_path, class: "dropdown-item" %>
              <%= link_to "Your Trips", your_trips_path, class: "dropdown-item" %>
              <%= link_to 'プロフィール編集', edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
</nav>
