<div id="main">
  <div id="left">
    <div class="row">
      <br>
      <div class="collapse" id="collapsePanel">
        <%= search_form_for @search, url: search_path do |f| %>
          <div class="row">
            <div class="col-md-8">
              <label>Price range:</label>
            </div>
            <div class="col-md-2">
              <label>Min Price</label>
              <%= f.text_field :price_gteq, class: "form-control" %>
            </div>
            <div class="col-md-2">
              <label>Min Price</label>
              <%= f.text_field :price_lteq, class: "form-control" %>
            </div>
          </div>
          <hr>

          <div class="row">
            <div class="col-md-6">
              <%= text_field_tag :start_date, params[:start_date], readonly: true, placeholder: 'Start Date', class: 'form-control datepicker' %>
            </div>
            <div class="col-md-6">
              <%= text_field_tag :end_date, params[:end_date], readonly: true, placeholder: 'End Date', class: 'form-control datepicker' %>
            </div>
          </div>
          <hr>

          <div class="row">
            <div class="col-md-4">
              <%= check_box_tag "q[room_type_eq_any][]", "Entire" %> Entire Room
              <%= check_box_tag "q[room_type_eq_any][]", "Private" %> Private
              <%= check_box_tag "q[room_type_eq_any][]", "Shared" %> Shared
            </div>
          </div>
          <hr>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group select">
                <label>Accommodate</label>
                  <%= f.select :accommodate_gteq, [[1], [2], [3], ['4+', 4]], id: 'accommodate', prompt: 'Select...', class: 'form-control' %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group select">
                <label>Bed Rooms</label>
                  <%= f.select :bed_room_gteq, [[1], [2], [3], ['4+', 4]], id: 'bed_room', prompt: 'Select...', class: 'form-control' %>                  
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group select">
                <label>Bath Rooms</label>
                  <%= f.select :bath_room_gteq, [[1], [2], [3], ['4+', 4]], id: 'bath_room', prompt: 'Select...', class: 'form-control' %>                  
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div id="right"></div>
</div>
