<div class="card">
  <div class="card-header">
    <span><i class="fa fa-bolt" style="#ffb400"></i><%= @room.price %>円/泊</span>
  </div>
  <div class="card-body">
    <%= form_for([@room, @room.reservations.new]) do |f| %>
      <div class="row">
        <div class="col-md-6">
          <label>チェックイン</label>
          <%= f.text_field :start_date, readonly: true, placeholder: "日", class: "form-control datepicker" %>
        </div>
        <div class="col-md-6">
          <label>チェックアウト</label>
          <%= f.text_field :end_date, readonly: true, placeholder: "日", class: "form-control datepicker" %>
        </div>
      </div>
     
      <br>
      <%= f.submit "予約する", class: "btn btn-normal btn-block" %>
    <% end %>
  </div>
</div>

<script>
  $(function(){
    $('#reservation_start_date').datepicker({
      dateFormat: 'dd-mm-yy'
    });
    $('#reservation_end_date').datepicker({
      dateFormat: 'dd-mm-yy'
    });
  })
</script>
