  <% rooms.each do |room| %>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header preview">
          <%= image_tag room.cover_photo(:medium) %>
        </div>
        <div class="card-body">
          <%= link_to room.listing_name, room %>
          <br>
          ¥<%= room.price %> - <%= room.home_type %> - <%= room.bed_room %>
          <div id="star_<%= room.id %>"></div><%= room.average_rating %>
        </div>
      </div>
    </div>
    
    <script>
      $('#star_<%= room.id %>').raty({
        path: '/assets',
        readOnly: true,
        score: <%= room.average_rating %>
      });
    </script>
  <% end %>


