<div class="card">
  <div class="card-header">
    create your beautiful place
  </div>
  <div class="card-body">
    <div class="container">
      <%= form_for @room do |f| %>
        <div class="row">
          <div class="col-md-4 select">
            <div class="form-group">
              <label>建物タイプ</label>
              <%= f.select :home_type, [['一軒家'], ['マンション'], ['古民家']], id: 'home_type', prompt: '選択してください', class: 'form-control' %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>お部屋タイプ</label>
              <%= f.select :room_type, [['貸切'], ['個室'], ['シェアルーム']], id: 'room_type', prompt: '選択してください', class: 'form-control' %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>最大定員</label>
              <%= f.select :accommodate, [[1], [2], [3], ['4+', 4]], id: 'accommodate', prompt: '選択してください', class: 'form-control' %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>ベッドルーム</label>
              <%= f.select :bed_room, [[1], [2], [3], ['4+', 4]], id: 'bed_room', prompt: '選択してください', class: 'form-control' %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>バスルーム</label>
              <%= f.select :bath_room, [[1], [2], [3], ['4+', 4]], id: 'bath_room', prompt: '選択してください', class: 'form-control' %>
            </div>
          </div>
        </div>
        <div><%= f.submit 'Create My Room', class: 'btn btn-normal' %></div>
      <% end %>
    </div>
  </div>
</div>
